
<div class="ui vertical fluid tabular menu">

    <a class="item" href="account/user_homepage.html"  id="home"><i class="home icon"></i> Home</a>
    <a class="item" href="account/user_contests.html"  id="contests"><i class="trophy icon"></i> Contests</a>
    <a class="item" href="account/user_tutorials.html" id="tutorials"><i class="book icon"></i> Tutorials</a>
    <a class="item" href="account/user_settings.html"  id="settings"><i class="wrench icon"></i> Settings</a>
</div>

<script>
    $(document).ready(function(){
        $('.tabular.menu .item').tab({history:false});
    });
</script>