<footer class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">

            <div class="row">
                <a href="index.html"><img src="assets/rewrite-gray.png" alt="Rewrite logo" id="nav-logo1" style="width: 150px; height: auto;"></a>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Sitemap</a>
                    <a href="#" class="item">Contact Us</a>
                    <a href="#" class="item">Religious Ceremonies</a>
                    <a href="#" class="item">Gazebo Plans</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Banana Pre-Order</a>
                    <a href="#" class="item">DNA FAQ</a>
                    <a href="#" class="item">How To Access</a>
                    <a href="#" class="item">Favorite X-Men</a>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header">Follow Us</h4>
                <div class="ui massive horizontal list no margin">
                    <a href="#" class="item no margin"><i class="facebook icon primary-fg"></i></a>
                    <a href="#" class="item no margin"><i class="twitter icon primary-fg"></i></a>
                    <a href="#" class="item no margin"><i class="instagram icon primary-fg"></i></a>
                    <a href="#" class="item no margin"><i class="linkedin icon primary-fg"></i></a>
                </div>
            </div>

            <div class="four wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
        </div>
    </div>
</footer>