

<link rel="stylesheet" href="/Rewrite/semantic/dist/semantic.min.css">
<link rel="stylesheet" href="/Rewrite/styles/base.css">


<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
</script>
<script src="/Rewrite/node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
<script src="/Rewrite/semantic/dist/semantic.min.js"></script>
<script src="/Rewrite/js/content-query.js"></script>