<div class="ui menu" id="nav">
    <div class="ui container">
        <a class="active item" href="/Rewrite/index.html"><img src="/Rewrite/assets/rewrite-dark.png" alt="Rewrite logo" style="width: 200px; height: auto;"></a>

        <a class="item">Products</a>
        <a class="item">About</a>

        <div class="right menu">
            <div class="item mobile hidden">
                <div class="ui icon input"><input type="text" placeholder="Search..."/>
                    <!--<img src="assets/rewrite-light.png" alt="logo">-->
                </div>
            </div>
            <div class="item"><a class="ui primary button">Sign Up</a></div>
            <div class="item mobile hidden"><a class="ui button">Login</a></div>
        </div>
    </div>
</div>
