<div class="ui menu" id="nav">
    <div class="ui container">
        <a class="active item" href="index.html"><img src="assets/rewrite-dark.png" alt="Rewrite logo" style="width: 150px; height: auto;"></a>

        <!-- only on desktops -->
        <a href="pricing.html" class="item mobile hidden">Pricing</a>
        <a href="about.html" class="item mobile hidden">About</a>

        <div class="right menu">
            <div class="item tablet or lower hidden">
                <div class="ui icon input"><input type="text" placeholder="Search..."/></div>
            </div>

            <div class="item mobile hidden"><a href="account/signup.html" class="ui primary button">Sign Up</a></div>
            <div class="item mobile hidden"><a href="account/login.html" class="ui button">Login</a></div>
        </div>
        <!-- end only on desktops -->


        <!--only on mobiles-->
        <div class="ui dropdown icon item mobile only">
            <i class="bars icon"></i>
            <div class="menu">

                <div class="item"><a href="account/signup.html" class="ui primary button">Sign Up</a></div>
                <div class="item"><a href="account/login.html" class="ui button">Login</a></div>

                <div class="divider"></div>

                <a href="pricing.html" class="item">Pricing</a>
                <a href="about.html" class="item">About</a>

            </div>
        </div>
        <!-- end only on mobiles -->
    </div>
</div>

<script>
    $('.ui.dropdown')
        .dropdown();
</script>
