/* Semantic UI has these classes, however they're only applicable to*/
/* grids, containers, rows and columns.*/
/* plus, there isn't any `mobile hidden`, `X hidden` class.*/
/* this snippet is using the same class names and same approach*/
/* plus a bit more but to all elements.*/
/* see https://github.com/Semantic-Org/Semantic-UI/issues/1114*/
/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important; } }
/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important; } }
/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important; } }
/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important; } }
/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important; } }
.fade-bk {
  background: #eeeeee; }

.fade-primary-bk {
  background: #fdedd1; }

.no-gutter {
  margin-left: -15px;
  margin-right: -15px; }

.hidden.menu {
  display: none; }

.masthead {
  background: #F7A20B !important; }

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em; }

.masthead .logo.item img {
  margin-right: 1em; }

.masthead .ui.menu .ui.button {
  margin-left: 0.5em; }

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: bold; }

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal; }

.ui.vertical.stripe {
  padding: 8em 0em; }

.ui.vertical.stripe h3 {
  font-size: 2em; }

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em; }

.ui.vertical.stripe .floated.image {
  clear: both; }

.ui.vertical.stripe p {
  font-size: 1.33em; }

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em; }

.quote.stripe.segment {
  padding: 0em; }

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em; }

.footer.segment {
  padding: 5em 0em; }

.secondary.pointing.menu .toc.item {
  display: none; }

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important; }

  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none; }

  .secondary.pointing.menu .toc.item {
    display: block; }

  .masthead.segment {
    min-height: 350px; }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em; }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em; } }
.bold {
  font-weight: bold; }

.ui.button.primary {
  color: black; }

.ui.button.secondary {
  color: #F7A20B;
  background: black; }

.primary-bk {
  background: #F7A20B; }

.primary-fg {
  color: #F7A20B; }

/*# sourceMappingURL=base.css.map */
